.md-text-container {
  max-width: 1280px;
  width: 100%; }

.md-text-field--title {
  font-size: 20px; }

.md-floating-label--inactive-title {
  font-size: 20px; }

.md-table-column--header {
  color: #009688 !important; }

.md-table-card-header--no-title {
  height: 60px; }

.md-text {
  color: #757575; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
